@if(this.registr.GetCurrentRole()=="admin"){


    <div >
        <h2>Добавить студию</h2>
        <!-- Форма для добавления студии -->
        <form [formGroup]="form_studio" (submit)="Add_Studio()">
          <!-- Поля для добавления студии -->
          <label for="title">Название студии:</label>
          <input type="text" formControlName="name" required>
      
          <label for="phone_num">Телефон:</label>
          <input type="text" formControlName="phone_num" required>
      
          <label for="email">Email:</label>
          <input type="email" formControlName="email" required>

          <label for="long">Долгота:</label>
          <input type="text"  formControlName="long" required>

          <label for="long">Широта:</label>
          <input type="text"  formControlName="lat" required>
      
          <label for="street">Улица:</label>
          <input type="text" formControlName="street" required>
      
          <label for="build">Дом:</label>
          <input type="text" formControlName="build" required>

          <label for="build">Город:</label>
          <input type="text" formControlName="city" required>
      
          <button >Добавить студию</button>
        </form>
      </div>
    }
@for(studio of st;track $index){
  <app-filial [lat]=studio.latitude [long]=studio.longitude [title]=studio.name [phone_num]=studio.phone_num [city]=studio.city [email]=studio.email [street]=studio.street [build]=studio.build></app-filial>

}