<app-filial [title]="'Micro'" [phone_num]="'+79456745533'" [email]="'micro@mail.com'" [street]="'Арбат'" [build]="'13'"></app-filial>
<app-filial [title]="'Gringo'" [phone_num]="'+79763452314'" [email]="'gringo_studio@mail.com'" [street]="'Ленина'" [build]="'123'"></app-filial>
<app-filial [title]="'SoundWave'" [phone_num]="'+79123456789'" [email]="'soundwave@mail.com'" [street]="'Проспект Мира'" [build]="'45'"></app-filial>
<app-filial [title]="'BeatMakers'" [phone_num]="'+79876543210'" [email]="'beatmakers@mail.com'" [street]="'Новослободская'" [build]="'78'"></app-filial>
<app-filial [title]="'MelodyHub'" [phone_num]="'+79234567890'" [email]="'melodyhub@mail.com'" [street]="'Тверская'" [build]="'99'"></app-filial>
<app-filial [title]="'RhythmZone'" [phone_num]="'+79345678901'" [email]="'rhythmzone@mail.com'" [street]="'Пресненская набережная'" [build]="'10'"></app-filial>