<div class="artist-bio">
  <!-- Основная информация -->
  <div class="artist-header">
      
      <div class="artist-info">
          <h2>{{name}}</h2>
      </div>
  </div>

  <!-- Достижения и популярные треки
  <div class="artist-stats">
      <div class="achievement">
          <h4>Listen Count</h4>
          <p>{{artist.playCount}}</p>
      </div>
      <div class="achievement">
          <h4>Listener Count</h4>
          <p>{{artist.listeners}}</p>
      </div>
  </div> -->

  <!-- Похожие исполнители -->
  <h3>Similar Artists</h3>
  <div class="similar-artists">
     
  </div>

</div>
