<div class="artist-bio">
    <!-- Основная информация -->
    <div class="artist-header">
      <img>
      <div class="artist-info">
        <h2>{{name}} </h2>
        <h4></h4>
        <p></p>
      </div>
    </div>
  
    <!-- Краткая биография -->
    <div class="artist-bio-details">
      <h3></h3>
      <p></p>
    </div>
  
    <!-- Достижения и популярные треки -->
    <div class="artist-stats">
      <div class="achievement">
        @if(artist){
            <h4>Количество прослушиваний</h4>
            <p>{{artist.playCount}}</p>
        }
        <h4>Количество слушателей</h4>
        <p>{{artist.listeners}}</p>
      </div>
      <div >
        <h4></h4>
        <p></p>
      </div>
    </div>
  <p>Похожие исполнители</p>
  @for(item of artist.similar; track $index){
    <div>
        {{item}}
    </div>
  }
    <!-- Социальные сети -->
    <div class="artist-social-links">
      <a >
        <i ></i>
      </a>
    </div>
  
    <!-- Кнопка редактирования -->
    <button class="edit-button">Edit Bio</button>
  </div>
  