
.artist-bio {
  padding: 20px;
  width: 100%; /* Ширина по всему экрану */
  max-width: none; /* Без максимальной ширины, чтобы не ограничивать */
  border-radius: 8px;
  background-color: #f8f9fa58;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}


.artist-header {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.artist-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.artist-info h2 {
  margin: 0;
  font-size: 28px;
  color: #222;
}

.artist-stats {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.achievement {
  text-align: center;
}

.achievement h4 {
  color: #0a0a0a;
  font-size: 18px;
  margin-bottom: 8px;
}

.achievement p {
  font-size: 16px;
  color: #070707;
}

.similar-artists {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

.similar-artists h3 {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
}

.artist-item {
  font-size: 16px;
  color: #080808;
  padding: 5px 0;
  font-size: 16px;
}

.edit-button {
  display: block;
  margin: 30px auto 0;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #0056b3;
}
