<div class="main">

    <form  [formGroup]="form_registr" (ngSubmit)="Registration()" class="form_log" >
        <h1 style="color:white;">Регистрация</h1>
        <div class="form-group">
            <label style="color:white;" for="email">Никнейм артиста</label>
            <input formControlName="login" type="text" id="email" name="email" required>
            <span>
                @for(error of errors['login'];track $index){
                    {{error}}
                }
            </span>
        </div>
        <div class="form-group">
            <label style="color:white;" for="password_1">Пароль</label>
            <input formControlName="password" type="password"   required>
            <span>
                @for(error of errors['password'];track $index){
                    {{error}}
                }
            </span>
        </div>
        <div class="form-group">
            <label style="color:white;" for="passw_reg">Подтвердите пароль</label>
            <input formControlName="password_confirm" type="password"  required>
            <span>
                @for(error of errors['confirmPassword'];track $index){
                    {{error}}
                }
            </span>
        </div>
        <button class="btn"  >Зарегистрироваться</button>
        <a (click)="redirect()">Вход</a>
    </form>
</div>
