

.branch-info {
    color:white;
    padding: 20px;
    border-radius: 8px;
    border:#fa6f05 solid 1px;
    box-shadow: 0 0 10px 5px rgba(250, 245, 245, 0.305);
    background-color: (0, 0, 0, 0.7);
    margin: 20px auto;
    width:80%;
  }
  
  .branch-info h2 {
    text-align: center;
    color:white;
  }
  
  .branch-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .branch-details h3 {
    margin-top: 0;
   
  }
  
  .branch-details p {
    margin: 5px 0;
   
  }
  
  .branch-details a {
   color: #fa6f05;
    text-decoration: none;
  }
  
  .branch-details a:hover {
    text-decoration: underline;
  }
  
  .branch-map iframe {
    border-radius: 8px;
  }
  .branch-map p{
    color:#fa6f05 ;
    width:80px;
    cursor: pointer;
  }
  .branch-map p:hover{
    text-decoration: underline;
  }