/* Стиль для контейнера */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Стиль для списка станций */
.stations-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Стиль для каждого элемента станции */
.station-item {
  position: relative; /* Нужно для позиционирования выпадающего списка */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.station-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.station-name {
  font-weight: bold;
  color:black;
}

.station-frequency,
.station-country,
.station-contact {
  margin-left: 10px;
  color: #555;
}

/* Кнопка "Подать заявку на ротацию" */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 20%;;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Выпадающий список треков */
.track-dropdown {
  position: absolute; /* Абсолютное позиционирование относительно station-item */
  top: 100%; /* Размещаем под station-item */
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; /* Убедитесь, что выпадающий список выше других элементов */
  display: none; /* По умолчанию скрыт */
  color:black;
}

.track-dropdown.show {
  display: block; /* Показываем выпадающий список */
}

/* Стиль для каждого трека в выпадающем списке */
.track-list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Пример: первая и третья колонки уже, вторая шире */
  gap: 20px;
  align-items: center;
  color: black;
  margin-bottom: 10px;
}
input{
  
  height: 20px;
}

button {
 
  margin-left: 50px; /* Отступ между текстом и кнопкой */
}