<div class="container">
  <h2>Радиостанции</h2>
<a href="http://localhost:8082/radio/">Rock FM</a>
  <div class="stations-list">
      <h3 style="color:white">Список радиостанций</h3>
      <ul>
          @for (station of radioSt; track $index) {
              <li class="station-item">
                  <span class="station-name">{{ station.name }}</span>
                  <span class="station-frequency">{{ station.frequency }} МГц</span>
                  <span class="station-country">{{ station.country }}</span>
                  <span class="station-contact">{{ station.contactInfo }}</span>
                  <button (click)="toggleTracks(station.radioStationId)">
                      {{ isTracksVisible[station.radioStationId] ? 'Скрыть треки' : 'Показать треки' }}
                  </button>

                  <!-- Показываем треки, если они видимы -->
                  @if (isTracksVisible[station.radioStationId]) {
                      @for (tr of tracks; track $index) {
                          <div class="track-list">
                           
                              <span>{{ tr.title }} Жанр {{ tr.genreTrack }}</span>
                              <input
                                  name="comment"
                                  [(ngModel)]="trackComments[station.radioStationId + '-' + tr.trackId!]"
                                  type="text"
                                  placeholder="Комментарий"
                              />
                              <button (click)="sendRotationRequest(tr.trackId!, station.radioStationId, trackComments[station.radioStationId + '-' + tr.trackId!])">
                                  Подать
                              </button>
                          </div>
                      }
                  }
              </li>
          }
      </ul>
  </div>
</div>