/* * {
    border: white 2px solid;
} */

.main {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0px;;
    height: 100px;
    
    overflow: hidden;
  
    display: flex;
    justify-content: space-between;
box-shadow: 0px 10px 20px 3px #ece0e02c;
     background-color: rgba(44, 44, 44, 0.1);  
    backdrop-filter: blur(15px) brightness(5px); 
}

a {
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7), 
                 1px -1px 5px  rgba(0, 0, 0, 0.952); /* Светлая и темная тень */
                 font-weight: bold;
}


a:hover {
    text-decoration: underline;
    color: #f88603; 
    text-shadow: 1px 1px 2px rgba(16, 15, 15, 0.7), 
    2px 2px 5px rgba(0, 0, 0, 0.8);
}

.containerr {
    display: flex;
    width: 60%;
    box-sizing: border-box;
    justify-content: space-between;
 flex-wrap: wrap;
    height: 105px;
    align-items: center;
    color: rgba(240, 248, 255);
    font-size: 1.2rem;
    font-weight: 200;
    margin-right: 5%;
    flex-shrink: 0;
 
}

.burger-menu {
    width: 200px;
    height: 100%;
   margin-top: 1%;
    display: flex;
    justify-content: flex-end;
}

.burger {
    display: none;
    width: 120px;
    height: 105px;
}

.burger img {
    width: 100%;
    height: 100%;
    filter: invert();
}

.menu {
    width: 230px;
    height: auto;
    margin-left: -110px;
    background-color: rgba(160, 186, 209, 0.9);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.menu a {
    color: rgb(250, 248, 248);
    font-size: 18px;
    margin-top: 10px;
    text-shadow: none;
}

.my_burger{
    width:80px;
    padding: 4px;
    height: 80px;
    display: flex;
    margin-left: -1%;
    flex-direction: column;
    justify-content: space-between;
   
}
.my_burger-open{
    width:80px;
    padding: 4px;
    height: 80px;
   
    display: flex;
    margin-left: -5px;
    flex-direction: column;
    justify-content: space-between;
   
}
.my_burger span{
    width: 100%;
    height: 6%;
    background-color: #ffffff;
    border-radius: 20%;
    transition: all 0.3s ease-in-out;

}
.my_burger-open span{
    width: 100%;
    height: 6%;
    border-radius: 20%;
    transition: all 0.3s ease-in-out;

}

.my_burger-open .s1{
    
    transform: translate(5px,40px) rotate(45deg);
}
.my_burger-open .s2{
    
    opacity: 0%;
}

.my_burger-open .s3{
    
    transform: translate(5px,-35px) rotate(-45deg);
}



.contact {
    align-items: center;
    width: auto;
    display: flex;

    box-sizing: border-box;
    justify-content: space-between;
    color: rgb(11, 11, 11);
    font-size: 20px;
   
}

.phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  
}

.order {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 4vw; /* Добавляем отступ слева */
}
.order button:hover{
    background-color: #ff6b6b6b; /* Яркий акцентный цвет */
    color: white;
    border-color: #0a0a0a; 
}
.order button {
    width: 100px;
    height: 40px;
   
    border-radius: 5px;
    background-color: rgba(17, 16, 16, 0.278);
    color: white;
    border: white 2px solid;
    box-shadow: 2px 2px 3px 1px #555;
    transition-delay: color 5s ease-in-out;
}

.logo_container {
    width: 20%;
    height: 100%;
    justify-content: center;
    margin-right: 10px;
}

@media (max-width: 1114px) {
    .containerr{
        width:85%;
    }
    .burger {
        display: none;
    }
    .contact{
        display: none;
    }
    
}
@media (max-width: 880px) {
    .containerr{
        width:20%;
    }
    .title {
        display: none;
    }
    .burger {
        display: block;
    }
    .contact{
        display: none;
    }
    
}