<div class="main">
    <div class="logo_container">

        <a> <img style="width: 90px;height: 90px;object-fit: cover;border-radius: 50px;" src="label_logo.jpg" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"></a>
    </div>
    <div class="containerr">
        
        <a class="title" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Личный кабинет</a>
        <a class="title" routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Исполнители</a>
        <a routerLink="/Tracks" routerLinkActive="active" ariaCurrentWhenActive="page">Треки</a>
        <a class="title"  routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page">Новости</a>
        <a class="title" routerLink="/filials" routerLinkActive="active" ariaCurrentWhenActive="page">Студии</a>
        <a class="title" routerLink="/filials" routerLinkActive="active" ariaCurrentWhenActive="page">Радиостанции</a>


    </div>

    <div class="burger-menu">


        <div class="burger">
            <div class="my_burger" [ngClass]="{'my_burger-open':visible}" (click)="change()">
                <span class="s1"></span>
                <span class="s2"></span>
                <span class="s3"></span>
            </div>
            

            @if(visible){
            <div class="menu">

                <a  routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Личный кабинет</a>
                <a routerLink="/services" routerLinkActive="active" ariaCurrentWhenActive="page">Исполнители</a>
                <a routerLink="/filials" routerLinkActive="active" ariaCurrentWhenActive="page">Треки</a>
                <a  routerLink="/news" routerLinkActive="active" ariaCurrentWhenActive="page">Новости</a>
                <a routerLink="/filials" routerLinkActive="active" ariaCurrentWhenActive="page">Филиалы</a>
            </div>
            }
            
        </div>
    </div>
   

</div>
