<div class="main">
    <form [formGroup]="form_login" (ngSubmit)="Loginn()" class="form_log">
      <h1 style="color:white;">Вход</h1>
      <div class="form-group">
        <label style="color:white;" for="email">Никнейм артиста</label>
        <input formControlName="login" type="text" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label style="color:white;" for="passw">Пароль</label>
        <input formControlName="password" type="password" id="passw" name="pass" required>
        <span style="color:red">
          @for(error of errors; track $index){
            {{error}}<br>
          }
        </span>
      </div>
      <div class="radio-group">
        <input name="role" formControlName="role" value="Artist" type="radio"> <label for="user" style="color:white;">Артист</label>
        <input name="role" formControlName="role" value="admin" type="radio"> <label for="admin" style="color:white;">Админ</label>
      </div>
      <button class="btn" >Войти</button>
      <a (click)="redirect()">Зарегистрироваться</a>
    </form>
  </div>
  
  