<div class="news-wrapper">
  <div class="news-header">
    <h2 class="news-section-title">Последние новости</h2>
    @if (this.role == "admin") {
      <p>{{this.registr.GetCurrentRole()}}</p>
      <form  class="news-form">
        <p>Добавить новость</p>
        <label>Заголовок:</label>
        <input type="text" required>
  
        <label>Описание:</label>
        <textarea  required></textarea>
  
        <label>Ссылка на изображение:</label>
        <input type="text"  required>
  
        <label>Ссылка на новость:</label>
        <input type="text"  required>
  
        <label>Дата:</label>
        <input type="date"  required>
  
        <button type="submit">Добавить</button>
      </form>
    }
  </div>

  <!-- Форма добавления новости (доступна только админу) -->
 

  <div class="news-items">
    @for (newsItem of newsList; track $index) {
      <div class="news-item">
        <div class="news-image">
          <img [src]="newsItem.imageUrl" [alt]="newsItem.title">
        </div>
        <div class="news-content">
          <h3 class="news-title">
            <a [href]="newsItem.link">{{ newsItem.title }}</a>
          </h3>
          <p class="news-description">{{ newsItem.description }}</p>
          <div class="news-footer">
            <span class="news-date">{{ newsItem.date }}</span>
            <a [href]="newsItem.link" class="news-read-more">Читать далее</a>
          </div>
        </div>
      </div>
    }
  </div>
</div>
