<div class="news-wrapper">
  <div class="news-header">
    <h2 class="news-section-title">Последние новости</h2>
    @if (this.registr.user_role == "admin") {
      <p>{{this.registr.GetCurrentRole()}}</p>
      <form class="news-form">
        <p>Добавить новость</p>
        <label for="news-title">Заголовок:</label>
        <input id="news-title" type="text" placeholder="Введите заголовок" required>

        <label for="news-description">Описание:</label>
        <textarea id="news-description" placeholder="Введите описание" required></textarea>

        <label for="image-url">Ссылка на изображение:</label>
        <input id="image-url" type="text" placeholder="Введите ссылку на изображение" required>

        <label for="news-link">Ссылка на новость:</label>
        <input id="news-link" type="text" placeholder="Введите ссылку на новость" required>

        <label for="news-date">Дата:</label>
        <input id="news-date" type="date" required>

        <button type="submit">Добавить</button>
      </form>
    }
  </div>

  <div class="news-items">
    @for (newsItem of newsList; track $index) {
      <div class="news-item">
        <div class="news-image">
          <img [src]="newsItem.imageUrl" [alt]="newsItem.title">
        </div>
        <div class="news-content">
          <h3 class="news-title">
            <a [href]="newsItem.link">{{ newsItem.title }}</a>
          </h3>
          <p class="news-description">{{ newsItem.description }}</p>
          <div class="news-footer">
            <span class="news-date">{{ newsItem.date }}</span>
            <a [href]="newsItem.link" class="news-read-more">Читать далее</a>
          </div>
        </div>
      </div>
    }
  </div>
</div>
