.main {

    height: 100%;
  
    display: flex; /* Включаем flexbox для выравнивания по центру */
    justify-content: flex-start; /* Центрируем по горизонтали */
    
    
    
}
.container{
    width: 100%;
    height:auto;
    display: flex;
    justify-content:flex-start;
    gap:20px;
    flex-wrap: wrap;
    margin: 50px;
     
    
}
@media (max-width:810px) {
    .container{
        justify-content: center;
    }
    
}
