<div class="dashboard-container">
    <header class="dashboard-header">
      <h1 class="dashboard-title">{{this.name}}</h1>
      <button   (click)="logout()" class="exit">Выход</button>
    </header>
  
    <nav class="dashboard-menu">
      <a routerLink="/system/bio" routerLinkActive="active" class="menu-link">Личная информация</a>
      <a routerLink="/ArtisTracks" routerLinkActive="active" class="menu-link">Треки</a>
    </nav>
  
    <main class="dashboard-content">
      <router-outlet></router-outlet>
    </main>
  </div>
  