<div class="wrap">
 
  <div class="items-wrap">
    <div class="items marquee">
      <div class="item"><a href="/news">Новый альбом от Arctic Monkeys уже в продаже!</a></div>
      <div class="item"><a href="/news">Слушай хиты дня на нашем сайте!</a></div>
      <div class="item"><a href="/news">Подпишись на нашу рассылку и получи эксклюзивный доступ к трекам.</a></div>
      <div class="item"><a href="/news">Готовься к музыкальному фестивалю года! Билеты уже в продаже.</a></div>
      <div class="item"><a href="/news">Открыта предзаказная продажа винилов от Lana Del Rey.</a></div>
      <div class="item"><a href="/news">Следи за обновлениями — новые треки каждый день!</a></div>
      <div class="item"><a href="/news">Поддержи своего любимого исполнителя: покупай мерч прямо сейчас!</a></div>
      <div class="item"><a href="/news">Новые хиты от Imagine Dragons и Coldplay на главной странице!</a></div>
      <div class="item"><a href="/news">Мы в TikTok: свежие музыкальные тренды ждут тебя!</a></div>
      <div class="item"><a href="/news">Эти выходные будут громкими! Концерты в твоем городе.</a></div>
    </div>
    <div class="items marquee">
      <div class="item"><a href="/news">Новый альбом от Arctic Monkeys уже в продаже!</a></div>
      <div class="item"><a href="/news">Слушай хиты дня на нашем сайте!</a></div>
      <div class="item"><a href="/news">Подпишись на нашу рассылку и получи эксклюзивный доступ к трекам.</a></div>
      <div class="item"><a href="/news">Готовься к музыкальному фестивалю года! Билеты уже в продаже.</a></div>
      <div class="item"><a href="/news">Открыта предзаказная продажа винилов от Lana Del Rey.</a></div>
      <div class="item"><a href="/news">Следи за обновлениями — новые треки каждый день!</a></div>
      <div class="item"><a href="/news">Поддержи своего любимого исполнителя: покупай мерч прямо сейчас!</a></div>
      <div class="item"><a href="/news">Новые хиты от Imagine Dragons и Coldplay на главной странице!</a></div>
      <div class="item"><a href="/news">Мы в TikTok: свежие музыкальные тренды ждут тебя!</a></div>
      <div class="item"><a href="/news">Эти выходные будут громкими! Концерты в твоем городе.</a></div>
    </div>
  </div>
  
  
  
  </div>

