<div class="main">
    <div class="containerr">
        <!-- Верхняя часть: фото, слушатели и прослушивания -->
        <div class="top-section">
            <div class="photo">
                <img src="{{artist_photo}}" alt="Фото артиста">
            </div>
            <div class="stats">
                <h2 class="name">{{selectedArtist?.name}}</h2>
                <p class="listeners">Слушателей: {{selectedArtist?.listeners}}</p>
                <p class="play-count">Прослушиваний: {{selectedArtist?.playCount}}</p>
            </div>
        </div>

       

        <!-- Нижняя часть: имя и описание -->
        <div class="bottom-section">
            {{description}}
            <!-- <p class="desc">{{selectedArtist?.description}}</p> -->
        </div>
       
    </div>
</div>