<div class="main">
    <div class="containerr">
      <!-- Верхняя часть -->
      <div class="top-section">
        
        <div class="stats">
          <h2 class="name">{{selectedArtist?.name}}</h2>
        </div>
      </div>
  
      <!-- Список треков -->
      <div  class="tracks-wrapper">
        @for(t of tracks; track $index){
          <div class="track-card">
            <h3>{{t.title}}</h3>
            <p><strong>Артист:</strong> {{t.trackArtist}}</p>
        
          </div>
        }
      </div>
  
      <!-- Описание -->
      <div class="bottom-section">
        {{description}}
      </div>
    </div>
  </div>
  