.non-modal-content {
    position: fixed;
    width: 40%;
    height: 40%;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.586);
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
  }
  
  .non-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .non-modal-header h2 {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .non-modal-body {
    margin-bottom: 20px;
  }
  
  .non-modal-footer {
    text-align: right;
  }